<div class="main-wrapper">
  <div class="app"
       id="app"
       class="app">
    <header class="header">
    </header>
    <aside class="sidebar">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <div class="brand">
            Hello NFJS!!
          </div>
        </div>
        <nav class="menu">
          <ul class="nav metismenu"
              id="sidebar-menu">
            <li routerLinkActive="active">
              <a [routerLink]="['/dashboard']"> <i class="fa fa-home"></i> Dashboard </a>
            </li>
            <li routerLinkActive="active">
              <a [routerLink]="['/containers']"> <i class="fa fa-home"></i> Containers </a>
            </li>
          </ul>
        </nav>
      </div>
      <footer class="sidebar-footer">
        <ul class="nav metismenu"
            id="customize-menu">
          <li>
            <ul>
              <li class="customize">
                <div class="customize-item">
                  <div class="row customize-header">
                    <div class="col-xs-4"> </div>
                    <div class="col-xs-4"> <label class="title">fixed</label> </div>
                    <div class="col-xs-4"> <label class="title">static</label> </div>
                  </div>
                  <div class="row hidden-md-down">
                    <div class="col-xs-4"> <label class="title">Sidebar:</label> </div>
                    <div class="col-xs-4">
                      <label>
                        <input class="radio"
                               type="radio"
                               name="sidebarPosition"
                               value="sidebar-fixed">
                        <span></span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label>
                        <input class="radio"
                               type="radio"
                               name="sidebarPosition"
                               value="">
                        <span></span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4">
                      <label class="title">Header:</label>
                    </div>
                    <div class="col-xs-4">
                      <label>
                        <input class="radio"
                               type="radio"
                               name="headerPosition"
                               value="header-fixed">
                        <span></span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label>
                        <input class="radio"
                               type="radio"
                               name="headerPosition"
                               value="">
                        <span></span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4"> <label class="title">Footer:</label> </div>
                    <div class="col-xs-4">
                      <label>
                        <input class="radio"
                               type="radio"
                               name="footerPosition"
                               value="footer-fixed">
                        <span></span>
                      </label>
                    </div>
                    <div class="col-xs-4">
                      <label>
                        <input class="radio"
                               type="radio"
                               name="footerPosition"
                               value="">
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="customize-item">
                  <ul class="customize-colors">
                    <li> <span class="color-item color-red"
                            data-theme="red"></span> </li>
                    <li> <span class="color-item color-orange"
                            data-theme="orange"></span> </li>
                    <li> <span class="color-item color-green"
                            data-theme="green"></span> </li>
                    <li> <span class="color-item color-seagreen"
                            data-theme="seagreen"></span> </li>
                    <li> <span class="color-item color-blue active"
                            data-theme=""></span> </li>
                    <li> <span class="color-item color-purple"
                            data-theme="purple"></span> </li>
                  </ul>
                </div>
              </li>
            </ul>
            <a href=""> <i class="fa fa-cog"></i> Customize </a>
          </li>
        </ul>
      </footer>
    </aside>
    <div class="sidebar-overlay"
         id="sidebar-overlay">
      <!-- Leave Blank -->
    </div>
    <router-outlet></router-outlet>
    <footer class="footer">
      <div class="footer-block buttons">

      </div>
      <div class="footer-block author">
        <ul>
          <li> created by <a href="https://gitlab.com/looselytyped">Looselytyped</a> </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
