<section class="example">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Command</th>
        <th>Created</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="container-row" *ngFor="let c of containers" [container]=c></tr>
    </tbody>
  </table>
</section>
